In [3]:
a = float(input("Enter a number="))
o = str(input("Enter an operator="))
b = float(input("Enter a number="))
if o=="+":
    result = a + b
elif o=="-":
    result = a - b
elif o=="*":    
    result = a * b
elif o=="**" or o=="^": #and operator= &, or operator |
    result = a ** b
elif o=="/" and b!=0:
    result = a / b
else :
    result = "error"
print("result=",result)

Enter a number=5
Enter an operator=+
Enter a number=7
result= 12.0

#####

In [1]:
age = int(input("Enter your age="))

cdate = int(2023)
bdate= cdate-age
print("your bdate is= ",bdate)

Enter your age=18
your bdate is=  2005

In [7]:
byear = int(input("Enter your birth year="))
month = int(input("Enter your birth month in number="))
date = int(input("Enter your birthdate="))
if month < 10:
    age = 2023 - byear
elif (month == 10) and (date < 11):
    age = 2023 - byear
else:
    age = 2022 - byear
print("your age is=",age)

Enter your birth year=2004
Enter your birth month in number=10
Enter your birthdate=4
your age is= 19

In [8]:
pwd

'C:\\Users\\ittra\\Python'

In [10]:
#nested if else statement
# for while
#range(5)
#(0,5)
#(0,10,2)
for i in range(5):
    print("Sadbhav")

Sadbhav
Sadbhav
Sadbhav
Sadbhav
Sadbhav

In [1]:
s = 0
n = int(input("Enter n="))
for i in range(n):
    x = int(input("enter x="))
    s = s + x
print(s)

Enter n=2
enter x=1
enter x=1
2

In [3]:
for i in range(9):
    if i == 5:
      break
    print(i)

0
1
2
3
4

In [5]:
for i in range(9):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8

In [6]:
a = "Sadbhav Kattel"
for i in a:
    if i == "v":
        break
    print(i)

S
a
d
b
h
a

In [7]:
a = "Sadbhav Kattel"
for i in a:
    if i == "v":
        continue
    print(i)

S
a
d
b
h
a

K
a
t
t
e
l

In [9]:
#forselse loop
n = int(input("Enter n = "))
for i in range(2,n):
    if n%i==0:
        print("The no is composite")
        break
else:
        print("The no is prime")

Enter n = 4
The no is composite

In [10]:
 #while loop
i = 0
while i<5:
    print(i)
    i = i+1
    #i+=1

0
1
2
3
4

In [11]:
i = 0
s = 0
n = int(input("Enter"))
while i<n:
    x = int(input("enter x"))
    s = s+x
    i = i+1
    print(s)

Enter2
enter x3
3
enter x3
6

In [12]:
i = 1
fac = 1
while i<=5:
    fac = fac * i
    i = i+1
    print(fac)

1
2
6
24
120

In [8]:
i = 0
j = 1
print(i,"\n",j)
for n in range(10):
    k = i + j
    print(k)
    i = j
    j = k

0
 1
1
2
3
5
8
13
21
34
55
89

In [9]:
n = 0
i = 0
j = 1
print(i,"\n",j)
while n<10:
    k = i + j
    print(k)
    i = j
    j = k
    n = n+1

0
 1
1
2
3
5
8
13
21
34
55
89

In [4]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
 for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [3]:
a = "sadbhav is good"
for char in a:
    print(char)

s
a
d
b
h
a
v

i
s

g
o
o
d

In [5]:
print(a[0])

s

In [3]:
numbers = [1,2,3] #listusesbigbracket, tuple uses small bracket
tup = (4,5,6)
print(type(numbers))
print(type(tup))

<class 'list'>
<class 'tuple'>

In [8]:
#change list value, tuple cant be changed
numbers[0] = 99
print(numbers)
numbers.append(98)
print(numbers)
anotherlist = [9,0,3]
numbers.extend(anotherlist)
print(numbers)

[99, 2, 3, 98]
[99, 2, 3, 98, 98]
[99, 2, 3, 98, 98, 9, 0, 3]

In [9]:
 print(len(numbers))

8

In [10]:
if 9 in numbers:
    print("yes")
else:
    print("no")

yes

In [14]:
print(tup.count(5))# no of the distinct identity in the tuple
res = tup.count(5)
print(tup.index(4)) #firts occurence of the given identity
print(res)

1
0
1

In [3]:
 def factorial(n):
  if(n==0 or n==1):
    return 1
  else:
    return n*factorial(n-1)
    
print(factorial(6))

720

In [2]:
s1 = {1,2,3}
s2 = {7,8,9}
print(s1.union(s2))
s1.update(s2)#brings elements in s1 which are in s2 but not in s1
s2.intersection_update(s1)
print(s2)
print(s1.symmetric_difference(s2))

{1, 2, 3, 7, 8, 9}
{8, 9, 7}
{1, 2, 3}

In [3]:
s1.add(6)
s2.remove(7)
print(s1.issuperset(s2))

True

In [5]:
s3 = {43,22,33}
item = s3.pop()
print(item)
print(s3)

33
{43, 22}

In [1]:
a = 330
b = 3303
print("A") if a>b else print("=") if a==b else print("B")

B

In [5]:
a = "hello world"
print(a[5])
print(a[0:11:2])

hlowrd

NameError: name 'avin' is not defined

In [10]:
#list
list = ["sadbhav","kattel",1,2]
print(list)
list.append("sadbhav")
list.reverse()
print(list)
index = list.index('sadbhav')
print(index)

['sadbhav', 'kattel', 1, 2]
['sadbhav', 2, 1, 'kattel', 'sadbhav']
0

In [8]:
#palindrome detector
a = str(input("enter a number"))
x = 0
while x<len(a):
    if a[0+x]==a[len(a-1-x)]:
        x = x +1
        print("palindrome")
    else:
        print("no")

enter a number1001

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [1]:
import numpy as np
a = [1,2,3,4,5,6,7]
n = np.array(a)
print(n)

[1 2 3 4 5 6 7]

In [2]:
n = n*10
print(n)

[10 20 30 40 50 60 70]